.charts-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}

#portfolio-chart,
#treemap-container {
  height: 600px;
  width: 100%;
}

#controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}